
<div class="flex" style="width: 100%; height:20vh; font-size: 36px;">
	{{method | uppercase}}
</div>


<div class="flex" style="width: 100%;">

	<!-- USER SIGNUP -->
	<form *ngIf="method == 'signup'" [formGroup]="userSignupForm" (ngSubmit)="createUser()" class="flex" style="width: 50%; max-width: 500px; min-width:320px; justify-content: flex-start;">
		
		<input formControlName="FirstName" minlength="2" class="form_input" style="">	
		<label *ngIf="!checkValidControl('FirstName', 'create')" class="form_input_warning" style=""> First name is invalid </label>
		
		<div style="height: 10px; width: 100%;"> </div>
		
		<input formControlName="LastName" minlength="2" class="form_input" style="">
		<label *ngIf="!checkValidControl('LastName', 'create')" class="form_input_warning" style=""> Last name is invalid </label>
		
		<div style="height: 10px; width: 100%;"> </div>
		
		<input formControlName="Email" minlength="5" class="form_input" style="">	
		<label *ngIf="!checkValidControl('Email', 'create')" class="form_input_warning" style=""> Invalid Email </label>
		
		<div style="height: 10px; width: 100%;"> </div>
		
		<input formControlName="Password"  type="password" minlength="5" class="form_input" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,}" style="">
		<label *ngIf="!checkValidControl('Password', 'create')" class="form_input_warning" style=""> Passwords must contain at least one number and one uppercase and lowercase letter, and at least 5 or more characters </label>		
		
		<div style="height: 10px; width: 100%;"> </div>
		
		<input formControlName="Password2"  type="password" minlength="5" class="form_input" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,}" style="">
		<label *ngIf="!checkValidControl('Password2', 'create')" class="form_input_warning" style=""> Passwords must match </label>		
		
		<div style="height: 10px; width: 100%;"> </div>
		
		<input formControlName="DateOfBirth"  minlength="5" type="date" class="form_input" style="">
		<label *ngIf="!checkValidControl('DateOfBirth', 'create')" class="form_input_warning" style=""> You must be over 18 </label>
		
		<div style="height: 10px; width: 100%;"> </div>
		
		<select [(ngModel)]="selectedCountry" formControlName="Country" class="form_input" style="">
			<option *ngFor="let c of countries.Countries" [value]="c">
				{{c}}
			</option>
		</select>
		
		<div style="width: 45%; margin-left: 2%; font-size: 10px;">  
		</div>
		
		<div style="height: 10px; width: 100%;"> </div>
		
		<select *ngIf="selectedCountry == 'Canada'" formControlName="Province" class="form_input" style="">
			<option *ngFor="let p of countries.Canada" [value]="p">
				{{p}}
			</option>
		</select>
				
		<select *ngIf="selectedCountry == 'UnitedStates'" formControlName="Province" class="form_input" style="">
			<option  *ngFor="let p of countries.UnitedStates" [value]="p">
				{{p}}
			</option>
		</select>
		
		<label *ngIf="!checkValidControl('Province', 'create')" class="form_input_warning" style=""> You must select a province </label>

		<div style="height: 10px; width: 100%;"> </div>

		<div class="flex" style="width:100%; justify-content: flex-start;">
			<button class=""  type="submit" [disabled]="!userSignupForm.valid">Create New User</button>
		</div>		
	
	</form>	
	
	
	<!-- USER LOGIN -->
	<form *ngIf="method == 'login'" [formGroup]="userLoginForm" (ngSubmit)="userLogin()" class="flex" style="width: 50%; max-width: 500px; min-width:320px; justify-content: flex-start;">
		
		<input formControlName="LoginEmail" minlength="5"  class="form_input" style="">	
		<label *ngIf="!checkValidControl('LoginEmail', 'login')" class="form_input_warning" style=""> Invalid Email </label>
		
		<div style="height: 10px; width: 100%;"> </div>
		
		<input formControlName="LoginPassword"  type="password" minlength="2" class="form_input" style="">
		<div *ngIf="!checkValidControl('LoginPassword', 'login')" class="form_input_warning" style=""> Must provide a password</div>
		
		<div style="height: 10px; width: 100%;"> </div>
		
		<div class="flex" style="width:100%; justify-content: flex-start;">
			<button class=""  type="submit" [disabled]="!userLoginForm.valid">Login</button>
		</div>	
	</form>
	
	
</div>


<!-- CREATE/LOGIN BUTTONS -->
<div class="flex" style="width: 100%; height: 15vh;">
	<div class="flex" style="width: 200px; height: 100%; justify-content: space-between">
		
		<div class="flex btn_hover create_login_button" (click)="setMethod('login')" style="">
			Login
		</div>
		
		<div class="flex btn_hover create_login_button" (click)="setMethod('signup')" style="">
			Sign Up
		</div>

</div>







